<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <main>
    <h1>En bus kommer frontalt imod dig</h1>
    <div class="bump">
        <p>Dit liv:</p> <% for (let i = 0; i < health; i++) { %>
            <p class="heart"> ❤ </p>
        <% } %>
    </div>
    <p>Du skal slå over 2 for at undvige bussen</p>
    <form method="post">
        <button type="submit">Kast terning</button>
    </form>
</main>
</body>
</html>