@import url('https://fonts.googleapis.com/css?family=Cambay&display=swap');

html {
    font-family: 'Cambay', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: lightblue;
    background-image: url('/images/skyline.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50vh;
    background-color: rgba(100, 100, 000, 0.7);
    box-shadow: 2px 2px #fff;
    text-align: center;
    margin-top: 2.1em;
}

aside {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 80vh;
    background-color: rgba(100, 100, 000, 0.7);
    box-shadow: 2px 2px #fff;
    text-align: center;
    margin-top: 2.1em;
}

main h1 {
    font-size: 3em;
    color: #fff;
}

main p {
    font-size: 1.5em;
    color: #fff;
}

main select {
    padding: 0.5em;
    font-size: 1.8em;
    text-align: center;
}

main option {
    text-align: center;
}

.bump {
    display: flex;
    position: absolute;
    bottom: 650px;
    left: 70px;
    color: #fff;
}

.packages {
    display: flex;
    position: absolute;
    bottom: 650px;
    left: 400px;
    color: #fff;
}

.bump p,
.packages p {
    display: inline-block;
    font-size: 1.4em;
}

.heart {
    color: red;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
button {
    margin-top: 0.5em;
    padding: 1em 2em;
    background-color: greenyellow;
    font-size: 1.3em;
    font-weight: 700;
}

.map {
    width: 800px;
    position: relative;
}

.game-map {
    width: 700px;
}

.you {
    position: absolute;
    bottom: 3px;
    left: 300px;
    font-size: 4em;
}

.spot1 {
    position: absolute;
    bottom: 3px;
    left: 400px;
    font-size: 4em;
}
.spot3 {
    position: absolute;
    bottom: 150px;
    left: 600px;
    font-size: 4em;
}
.spot4 {
    position: absolute;
    bottom: 150px;
    left: 480px;
    font-size: 4em;
}
.spot6 { 
    position: absolute;
    bottom: 410px;
    left: 570px;
    font-size: 4em;
}
.spot7 {
    position: absolute;
    bottom: 410px;
    left: 480px;
    font-size: 4em;
}
.spot8 {
    position: absolute;
    bottom: 270px;
    left: 470px;
    font-size: 4em;
}
.spot9 {
    position: absolute;
    bottom: 270px;
    left: 520px;
    font-size: 4em;
}

.spot10 {
    position: absolute;
    bottom: 270px;
    left: 350px;
    font-size: 4em;
}

.spot12 {
    position: absolute;
    bottom: 80px;
    left: 190px;
    font-size: 4em;
}

.spot13 {
    position: absolute;
    bottom: 160px;
    left: 190px;
    font-size: 4em;
}
.spot14 {
    position: absolute;
    bottom: 160px;
    left: 250px;
    font-size: 4em;
}

.spot15 {
    position: absolute;
    bottom: 80px;
    left: 100px;
    font-size: 4em;
}

.spot18 {
    position: absolute;
    bottom: 270px;
    left: 190px;
    font-size: 4em;
}

.spot20 {
    position: absolute;
    bottom: 510px;
    left: 350px;
    font-size: 4em;
}
/* Mangler rigtig position */
.spot21 {
    position: absolute;
    bottom: 510px;
    left: 480px;
    font-size: 4em;
}
.spot22 {
    position: absolute;
    bottom: 510px;
    left: 550px;
    font-size: 4em;
}
.spot23 {
    position: absolute;
    bottom: 510px;
    left: 620px;
    font-size: 4em;
}
.end {
    position: absolute;
    bottom: 470px;
    left: 620px;
    font-size: 4em;
}